<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" ng-app="iteach" ng-controller="AppCtrl">
<head>
    <meta charset="utf-8">
    <!-- TODO Dynamic title -->
    <title>iTeach</title>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

</head>
<body>

<div>

    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                <img class="it-logo" src="assets/logo.png"/>
                iTeach
            </a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- User menu -->
                <li class="dropdown" ng-show="logged()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{account.teacher.name}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <!-- Monthly report -->
                            <a id="user-monthly-report" href="#/report" ng-if="!account.teacher.administrator">{{'report.monthly' | translate}}</a>
                            <!-- Invoice generation -->
                            <a id="user-invoice-generate" ng-click="createInvoice()" ng-if="!account.teacher.administrator">{{'invoice.generate' | translate}}</a>
                            <!-- Profile -->
                            <a id="user-profile" ng-click="accountProfile()" ng-if="!account.teacher.administrator">{{'account.profile' | translate}}</a>
                            <!-- Account -->
                            <a id="user-account" href="#/account" ng-if="!account.teacher.administrator">{{'account.menu' | translate}}</a>
                            <!-- Logout -->
                            <a id="user-logout" ng-click="accountLogout()">{{'logout' | translate}}</a>
                        </li>
                    </ul>
                </li>
                <!-- Language selection -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{'language.' + language() | translate}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="language in languageList">
                            <a
                                    id="language-{{language.id}}"
                                    ng-click="changeLanguage(language.id)">{{language.name | translate}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Notification section -->

    <div class="container" ng-if="hasNotification()">
        <div class="alert alert-{{notificationType()}} alert-dismissable it-notification">
            <button type="button" class="close" ng-click="closeNotification()">&times;</button>
            <span>{{notification()}}</span>
        </div>
    </div>

    <!-- View container -->
    <div id="iteach-view" ng-view>
    </div>


    <footer class="it-footer">
        <div class="container">
            <div class="it-footer-inner">
                <p>
                    <a href="https://github.com/dcoraboeuf/iteach">v{{version}}</a>
                </p>
            </div>
        </div>
    </footer>

</div>

</body>
</html>
