<div class="modal-header">
    <h3>{{'school' | translate}}</h3>
</div>
<div class="modal-body">
    <it-form>
        <it-form-text name="name" label="{{'school.name' | translate}}" size="80"></it-form-text>
        <it-form-colour name="colour" label="{{'school.colour' | translate}}"></it-form-colour>
        <it-form-text name="contact" label="{{'school.contact' | translate}}" size="80"></it-form-text>
        <it-form-memo name="postalAddress" label="{{'school.postalAddress' | translate}}" size="200" rows="2"></it-form-memo>
        <it-form-text name="phone" label="{{'school.phone' | translate}}" size="40"></it-form-text>
        <it-form-text name="mobilePhone" label="{{'school.mobilePhone' | translate}}" size="40"></it-form-text>
        <it-form-text name="webSite" label="{{'school.webSite' | translate}}" size="200"></it-form-text>
        <!--
            TODO hourlyRate;
            TODO email;
        -->
    </it-form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>