<div class="modal-header">
    <h3>{{'calendar.preferences' | translate}}</h3>
</div>
<form name="calendarPreferencesForm" class="form-horizontal" ng-submit="submit()">
    <div class="modal-body">

        <div class="form-group">
            <label class="control-label col-md-3">{{'calendar.preferences.minTime' | translate}}</label>
            <div class="col-md-9">
                <input ng-model="calendarPreferences.minHour" class="form-control" name="minTime" type="number" min="0" max="11" step="1" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">{{'calendar.preferences.maxTime' | translate}}</label>
            <div class="col-md-9">
                <input ng-model="calendarPreferences.maxHour" class="form-control" name="maxTime" type="number" min="13" max="23" step="1" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="weekEnds">{{'calendar.preferences.weekEnds' | translate}}</label>
            <div class="col-md-9">
                <input id="weekEnds" ng-model="calendarPreferences.weekEnds" class="form-control" name="weekEnds" type="checkbox" />
            </div>
        </div>

    </div>
    <div class="modal-footer">

        <div class="alert alert-{{messageType}} alert-dismissable" ng-show="message">
            <span>{{message}}</span>
        </div>

        <button class="btn btn-primary" type="submit">{{'dialog.ok' | translate}}</button>
        <button class="btn btn-link" type="button" ng-click="cancel()">{{'dialog.cancel' | translate}}</button>
    </div>
</form>