<div class="modal-header">
    <h3>{{'invoice.generate' | translate}}</h3>
</div>
<form name="invoiceForm" class="form-horizontal" novalidate="novalidate">
    <div class="modal-body">

        <div class="form-group"
             ng-class="{ 'has-error' : invoiceForm.schoolId.$invalid && !invoiceForm.schoolId.$pristine }">
            <label class="control-label col-md-3">{{'school' | translate}}</label>

            <div class="col-md-9">
                <select ng-model="invoice.schoolId" ng-options="school.id as school.name for school in schools"
                        name="schoolId" required="required" class="form-control">
                    <option value="">&nbsp;</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">{{'invoice.month' | translate}}</label>

            <div class="col-md-3">
                <input ng-model="invoice.year" name="year" required="required" class="form-control" type="number"
                       min="2000" maxlength="4"/>
            </div>
            <div class="col-md-6">
                <select ng-model="invoice.month" ng-options="m.index as m.name for m in months" name="month"
                        required="required" class="form-control">
                    <option value="">&nbsp;</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">{{'invoice.number' | translate}}</label>

            <div class="col-md-9">
                <input ng-model="invoice.number" name="number" required="required" class="form-control" type="number"
                       min="1" maxlength="20"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">{{'invoice.comment' | translate}}</label>

            <div class="col-md-9">
                <textarea ng-model="invoice.comment" name="comment" class="form-control" rows="2"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">{{'invoice.detailPerStudent' | translate}}</label>

            <div class="col-md-9">
                <input id="detailPerStudent" ng-model="invoice.detailPerStudent" name="detailPerStudent" type="checkbox" class="form-control" />
            </div>
        </div>

    </div>
    <div class="modal-footer">

        <div class="alert alert-{{messageType}} alert-dismissable" ng-show="message">
            <span>{{message}}</span>
        </div>

        <button class="btn btn-primary" type="button" ng-hide="launched" ng-disabled="invoiceForm.$invalid" ng-click="generate()">{{'invoice.generate.submit' | translate}}
        <button class="btn btn-default" type="button" ng-show="generating" ng-disabled="true">
            <img src="assets/loading.gif" />
            {{'invoice.generate.generating' | translate}}
        </button>
        <button class="btn btn-primary" type="button" ng-show="ready" ng-click="download()">
            <span class="glyphicon glyphicon-download"></span>
            {{'invoice.download' | translate}}
        </button>
        <button class="btn btn-info" type="button" ng-show="launched" ng-click="invoiceMgt()">{{'invoice.generate.list' | translate}}</button>
        <button class="btn btn-link" type="button" ng-click="cancel()">{{'dialog.cancel' | translate}}</button>

        <div>&nbsp;</div>
        <div class="alert alert-warning it-alert-formatted" ng-show="errorMessage && !errorUuid">
            {{errorMessage}}
        </div>
        <div class="alert alert-danger it-alert-formatted" ng-show="errorUuid">
            {{'invoice.error.general' | translate}}
            <p ng-show="errorUuid">
                {{'invoice.error.uuid' | translate}}
                <span class="it-invoice-error-uuid">{{errorUuid}}</span>
            </p>
        </div>

        <div>&nbsp;</div>
        <div class="alert alert-info" ng-show="launched">
            {{'invoice.generate.list.help' | translate}}
        </div>
    </div>
</form>