td.it-invoice-number {
  text-align: right;
  padding-right: 1em;
}

.it-invoice-status-created {
  .glyphicon;
  .glyphicon-asterisk;
  .text-warning;
}

.it-invoice-status-generating {
  .glyphicon;
  .glyphicon-cog;
  .text-info;
}

.it-invoice-status-ready {
  .glyphicon;
  .glyphicon-ok;
  .text-success;
}

.it-invoice-status-error {
  .glyphicon;
  .glyphicon-remove;
  .text-danger;
  cursor: pointer;
}

.it-invoice-download-link {
  .glyphicon;
  .glyphicon-download-alt;
}