<div class="row" ng-hide="commentForm">
    <div class="col-md-12">
        <button class="btn btn-link" ng-click="showCommandForm(true)">
            <span class="glyphicon glyphicon-comment"></span>
            {{'comment.create' | translate}}
        </button>
    </div>
</div>

<div class="row" ng-show="commentForm">
    <div class="col-md-12">
        <form class="form-horizontal" role="form" ng-submit="submitComment()">
            <div class="form-group">
                <div class="col-md-12">
                    <textarea ng-model="commentContent" class="form-control" rows="4" required="required"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-comment"></span>
                        {{'comment.post' | translate}}
                    </button>
                    <button class="btn btn-link" type="button" ng-click="showCommandForm(false)">
                        {{'dialog.cancel' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row it-comment" ng-repeat="comment in comments">
    <div class="col-md-12" ng-class="!comment.edited ? 'panel panel-default' : ''">

        <form class="form-horizontal it-comment-update" role="form" ng-show="comment.edited" ng-submit="updateComment(comment.id, comment.rawContent)">
            <div class="form-group">
                <div class="col-md-12 it-comment-update-field">
                    <textarea ng-model="comment.rawContent" class="form-control" rows="4" required="required"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-comment"></span>
                        {{'comment.update' | translate}}
                    </button>
                    <button class="btn btn-link" type="button" ng-click="comment.edited = false">
                        {{'dialog.cancel' | translate}}
                    </button>
                </div>
            </div>
        </form>

        <div class="row" ng-hide="comment.edited">
            <div class="col-md-9">
                <span>{{comment.renderedContent}}</span>
                <p class="it-comment-date">
                    {{comment.formattedCreationDate}}
                    <span ng-if="comment.formattedUpdateDate">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {{comment.formattedUpdateDate}}
                    </span>
                </p>
            </div>
            <div class="col-md-3 it-comment-commands">
                <a class="glyphicon glyphicon-pencil" ng-click="showUpdateForm(comment)"></a>
                <a class="glyphicon glyphicon-trash" ng-click="deleteComment(comment.id)"></a>
            </div>
        </div>
    </div>
</div>
