<div class="container">
    <div class="row">
        <h3>{{'admin.page' | translate}}</h3>

        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    <a href="#/admin/setup" class="btn btn-default">{{'admin.setup' | translate}}</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <a href="#/admin/accounts" class="btn btn-default">{{'admin.accounts' | translate}}</a>
                </div>
            </div>
        </form>
    </div>
</div>