<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>{{'admin.setup' | translate}}</h3>
        </div>
    </div>
    <form name="setupForm" class="form-horizontal" ng-submit="submit(setupForm.$valid)" novalidate="novalidate">
        <div class="form-group" ng-class="{ 'has-error' : setupForm.email.$invalid && !setupForm.email.$pristine }">
            <label for="email" class="control-label col-md-3">{{'admin.setup.email' | translate}}</label>
            <div class="col-md-6">
                <input ng-model="setup.email" id="email" name="email" type="email" class="form-control" required="required" />
                <p ng-show="setupForm.email.$invalid && !setupForm.email.$pristine" class="help-block">{{'admin.setup.email.error' | translate}}</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : setupForm.password.$invalid && !setupForm.password.$pristine }">
            <label for="password" class="control-label col-md-3">{{'admin.setup.password' | translate}}</label>
            <div class="col-md-6">
                <input ng-model="setup.password" id="password" name="password" type="password" class="form-control" required="required" />
                <p ng-hide="setupForm.password.$invalid && !setupForm.password.$pristine" class="help-block">{{'admin.setup.password.help' | translate}}</p>
                <p ng-show="setupForm.password.$invalid && !setupForm.password.$pristine" class="help-block">{{'admin.setup.password.error' | translate}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="passwordChange" class="control-label col-md-3">{{'admin.setup.password.change' | translate}}</label>
            <div class="col-md-6">
                <input ng-model="setup.passwordChange" id="passwordChange" name="passwordChange" type="password" class="form-control" />
                <p class="help-block">{{'admin.setup.password.change.help' | translate}}</p>
            </div>
        </div>
        <!-- TODO Error for incorrect confirmation -->
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input ng-model="setup.passwordChangeConfirm" id="passwordChangeConfirm" name="passwordChangeConfirm" type="password" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button class="btn btn-primary" type="submit" ng-disabled="setupForm.$invalid">{{'dialog.save' | translate}}</button>
                <a href="#/admin" class="btn btn-link">{{'home.back' | translate}}</a>
            </div>
        </div>
    </form>
</div>