<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>{{'contract' | translate}}</h3>

            <table class="it-form">
                <tbody>
                <tr>
                    <td class="it-form-label">
                        {{'contract.name' | translate}}
                    </td>
                    <td class="it-form-value">
                        {{contract.name}}
                    </td>
                </tr>
                <tr>
                    <td class="it-form-label">
                        {{'school' | translate}}
                    </td>
                    <td class="it-form-value">
                        <a href="#/school/{{contract.school.id}}">{{contract.school.name}}</a>
                    </td>
                </tr>
                <tr>
                    <td class="it-form-label">
                        {{'contract.hourlyRate' | translate}}
                    </td>
                    <td class="it-form-value">
                        <it-contract-hourly-rate school="school" contract="contract"></it-contract-hourly-rate>
                    </td>
                </tr>
                <tr>
                    <td class="it-form-label">
                        {{'contract.vatRate' | translate}}
                    </td>
                    <td class="it-form-value">
                        <it-contract-vat-rate school="school" contract="contract"></it-contract-vat-rate>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2">
                        <button type="button" class="btn btn-warning" ng-click="modifyContract()">{{'dialog.update' |
                            translate}}
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="deleteContract()">{{'dialog.delete' |
                            translate}}
                        </button>
                        <a class="btn btn-link" href="#/school/{{contract.school.id}}">{{'home.back' | translate}}</a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-8">
            <h3>{{'contract.students' | translate}}</h3>
            <table class="table table-condensed">
                <tbody>
                <tr ng-repeat="student in students">
                    <td>
                        <a href="#/student/{{student.id}}" ng-class="student.disabled ? 'text-muted' : ''">{{student.name}}</a>
                        <span class="label it-label-description">{{student.subject}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>