<div class="container">

    <div class="row">
        <div class="col-md-12 it-invoice" id="invoice">
            <div class="it-invoice-header">
                <img src="{{invoice.profile.companyLogo}}" class="it-invoice-logo"/>
            </div>
            <div>
                <table class="it-invoice">
                    <tbody>
                    <tr>
                        <td class="it-invoice-from it-invoice-from-label">
                            From:
                        </td>
                        <td class="it-invoice-from it-invoice-from-ref">
                            <p class="it-invoice-company">{{invoice.profile.company}}</p>

                            <p class="it-invoice-address">{{invoice.profile.postalAddress}}</p>

                            <p class="it-invoice-vat">VAT: {{invoice.profile.vat}}</p>
                        </td>
                        <td class="it-invoice-to it-invoice-to-label">
                            To:
                        </td>
                        <td class="it-invoice-to it-invoice-to-ref">
                            <p class="it-invoice-company">{{invoice.school.name}}</p>

                            <p class="it-invoice-address">{{invoice.school.postalAddress}}</p>

                            <p class="it-invoice-vat">VAT: {{invoice.school.vat}}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h2>Invoice</h2>
                <table class="it-invoice-data">
                    <tbody>
                    <tr>
                        <td>Invoice number:</td>
                        <td class="it-invoice-number">{{invoice.number}}</td>
                    </tr>
                    <tr>
                        <td>Invoice date:</td>
                        <td class="it-invoice-date">{{invoice.formattedDate}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table class="it-invoice-data">
                    <tbody>
                    <tr>
                        <td>Work carried out by:</td>
                        <td>{{invoice.teacherName}}</td>
                    </tr>
                    <tr>
                        <td>Period:</td>
                        <td>{{invoice.formattedPeriod}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h2>Detail per student</h2>
                <table class="it-invoice-students">
                    <thead>
                    <tr>
                        <th class="it-invoice-student">Student</th>
                        <th class="it-invoice-hours">Hours</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="student in invoice.report.students">
                        <td class="it-invoice-student">
                            {{student.name}}
                        </td>
                        <td class="it-invoice-hours">
                            {{student.hours}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h2>Total</h2>
                <table class="it-invoice-total">
                    <tbody>
                    <tr>
                        <td>Total hours:</td>
                        <td>{{invoice.report.hours}}</td>
                        <td>&times;</td>
                        <td>{{invoice.school.hourlyRate}}</td>
                        <td>{{invoice.report.income}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                        <td colspan="2">VAT 21,00%</td>
                        <td>
                            <it-todo>VAT contribution</it-todo>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                        <td colspan="2">Total with VAT</td>
                        <td class="it-invoice-total-amount">
                            <it-todo>VAT contribution</it-todo>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <p>The payment is to be made to the following account:</p>

                <p>
                    IBAN <span class="it-invoice-iban">{{invoice.profile.iban}}</span> with
                    BIC <span class="it-invoice-bic">{{invoice.profile.bic}}</span>,
                    held by <span class="it-invoice-company">Nemerosa Sprl</span>.</p>
            </div>
            <div class="it-invoice-info">
                <table class="it-invoice-info">
                    <tbody>
                    <tr>
                        <td class="it-invoice-company">{{invoice.profile.company}}</td>
                        <td class="it-invoice-info-label">Tel:</td>
                        <td>{{invoice.profile.phone}}</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="it-invoice-address">{{invoice.profile.postalAddress}}</td>
                        <td class="it-invoice-info-label">email:</td>
                        <td>
                            {{invoice.teacherEmail}}
                        </td>
                    </tr>
                    <tr>
                        <td class="it-invoice-info-label">VAT:</td>
                        <td>{{invoice.profile.vat}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="it-invoice-info-label">IBAN:</td>
                        <td>{{invoice.profile.iban}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="it-invoice-info-label">BIC:</td>
                        <td>{{invoice.profile.bic}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- TODO Printing the invoice -->
            <!-- Close the view -->
            <a href="#/" class="btn btn-default">{{'home.back' | translate}}</a>
        </div>
    </div>
</div>