<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>{{'lesson.schedule' | translate}}</h3>
            <table class="it-form">
                <tbody>
                <tr>
                    <td colspan="2">
                        {{lesson.from | date:'fullDate'}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{'lesson.from' | translate}}
                        {{lesson.from | date:'HH:mm'}}
                        {{'lesson.to' | translate}}
                        {{lesson.to | date:'HH:mm'}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{'lesson.location' | translate}}:
                        {{lesson.location}}
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2">
                        <button type="button" class="btn btn-warning" ng-click="updateLesson()">{{'dialog.update' |
                            translate}}
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="deleteLesson()">{{'dialog.delete' |
                            translate}}
                        </button>
                        <a href="#/" class="btn btn-link">{{'home.back' | translate}}</a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4">
            <div class="row">
                <h3>{{'lesson.student' | translate}}</h3>
                <table class="it-form">
                    <tbody>
                    <tr>
                        <td class="it-form-label">
                            {{'student.name' | translate}}
                        </td>
                        <td class="it-form-value">
                            <a href="#/student/{{student.id}}">{{student.name}}</a>
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <td class="it-form-label">
                            {{'student.subject' | translate}}
                        </td>
                        <td class="it-form-value">
                            {{student.subject}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <h3>{{'lesson.school' | translate}}</h3>
                <table class="it-form">
                    <tbody>
                    <tr>
                        <td class="it-form-label">
                            {{'school.name' | translate}}
                        </td>
                        <td class="it-form-value">
                            <a href="#/school/{{school.id}}">{{school.name}}</a>
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <td class="it-form-label">
                            {{'school.colour' | translate}}
                        </td>
                        <td class="it-form-value" style="background-color: {{school.colour}}">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td class="it-form-label">
                            {{'school.hourlyRate' | translate}}
                        </td>
                        <td class="it-form-value">
                            {{school.hourlyRate}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <h3>{{'comments' | translate}}</h3>
            <it-comments entity="lesson" entity-id="{{lessonId}}"></it-comments>
        </div>
    </div>
</div>