<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>{{'lesson.schedule' | translate}}</h3>
            <table class="it-form">
                <tbody>
                <tr>
                    <td colspan="2">
                        {{lesson.formatted.date}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{'lesson.from' | translate}}
                        {{lesson.formatted.from}}
                        {{'lesson.to' | translate}}
                        {{lesson.formatted.to}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{'lesson.location' | translate}}:
                        {{lesson.location}}
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2">
                        <button type="button" class="btn btn-warning" ng-click="update()">{{'dialog.update' |
                            translate}}
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="delete()">{{'dialog.delete' |
                            translate}}
                        </button>
                        <a href="#/" class="btn btn-link">{{'home.back' | translate}}</a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4">
            <div class="row">
                <it-todo>The student</it-todo>
            </div>
            <div class="row">
                <it-todo>The school</it-todo>
            </div>
        </div>
        <div class="col-md-4">
            <it-todo>Lesson comments</it-todo>
        </div>
    </div>
</div>