<div class="container">
    <!-- TODO View layout -->
    <!-- TODO Use a big form -->
    <div class="row">
        <div class="col-md-7">
            <form class="form-horizontal" role="form" ng-submit="registerSubmit()">
                <div class="form-group">
                    <label for="name" class="control-label col-md-5">{{'register.name' | translate}}</label>

                    <div class="col-md-7">
                        <input ng-model="name" class="form-control" type="text" id="name" name="name" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label col-md-5">{{'register.email' | translate}}</label>

                    <div class="col-md-7">
                        <input ng-model="email" class="form-control" type="email" id="email" name="email" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label col-md-5">{{'register.password' | translate}}</label>

                    <div class="col-md-7">
                        <input ng-model="password" class="form-control" type="password" id="password" name="password" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password_confirm" class="control-label col-md-5">{{'register.password_confirm' | translate}}</label>

                    <div class="col-md-7">
                        <input ng-model="password_confirm" class="form-control" type="password" id="password_confirm" name="password_confirm" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7">
                        <button type="submit" class="btn btn-primary" id="submit">{{'register.submit' | translate}}</button>
                        <a href="#/login" class="btn btn-link" id="cancel">{{'register.cancel' | translate}}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
