<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>{{'school' | translate}}</th>
                <th>{{'student' | translate}}</th>
                <th colspan="2"><it-todo>Month navigation</it-todo></th>
                <th colspan="2">{{'report.total' | translate}}</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="row">
        <a href="#/" class="btn btn-default">{{'home.back' | translate}}</a>
    </div>
</div>