<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table class="it-form">
                <tbody>
                <tr>
                    <td colspan="2" class="it-form-title">
                        <span style="background-color: {{school.colour}};" class="label label-info">&nbsp;</span>
                        <span>{{school.name}}</span>
                    </td>
                </tr>
                <tr ng-if="school.contact">
                    <td class="it-form-label">
                        {{'school.contact' | translate}}
                    </td>
                    <td class="it-form-value">
                        {{school.contact}}
                    </td>
                </tr>
                <tr ng-if="school.hourlyRate">
                    <td class="it-form-label">
                        {{'school.hourlyRate' | translate}}
                    </td>
                    <td class="it-form-value">
                        {{school.hourlyRate}}
                    </td>
                </tr>
                <tr ng-if="school.vat">
                    <td class="it-form-label">
                        {{'school.vat' | translate}}
                    </td>
                    <td class="it-form-value">
                        {{school.vat}}
                    </td>
                </tr>
                <tr ng-if="school.vatRate">
                    <td class="it-form-label">
                        {{'school.vatRate' | translate}}
                    </td>
                    <td class="it-form-value">
                        {{school.vatRate}} %
                    </td>
                </tr>
                <tr ng-if="school.phone">
                    <td class="it-form-label it-form-icon">
                        <span title="{{'school.phone' | translate}}" class="glyphicon glyphicon-earphone"></span>
                    </td>
                    <td class="it-form-value">
                        {{school.phone}}
                    </td>
                </tr>
                <tr ng-if="school.mobilePhone">
                    <td class="it-form-label it-form-icon">
                        <span title="{{'school.mobilePhone' | translate}}" class="glyphicon glyphicon-phone"></span>
                    </td>
                    <td class="it-form-value">
                        {{school.mobilePhone}}
                    </td>
                </tr>
                <tr ng-if="school.postalAddress">
                    <td class="it-form-label it-form-icon">
                        <span title="{{'school.postalAddress' | translate}}" class="glyphicon glyphicon-home"></span>
                    </td>
                    <td class="it-form-value it-form-pre">{{school.postalAddress}}</td>
                </tr>
                <tr ng-if="school.webSite">
                    <td class="it-form-label it-form-icon">
                        <span title="{{'school.webSite' | translate}}" class="glyphicon glyphicon-globe"></span>
                    </td>
                    <td class="it-form-value">
                        <a href="{{school.webSite}}">{{school.webSite}}</a>
                    </td>
                </tr>
                <tr ng-if="school.email">
                    <td class="it-form-label it-form-icon">
                        <span title="{{'school.email' | translate}}" class="glyphicon glyphicon-envelope"></span>
                    </td>
                    <td class="it-form-value">
                        <a href="mailto:{{school.email}}">{{school.email}}</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2">
                        <button type="button" class="btn btn-default" ng-click="createInvoice(school.id)" ng-if="school.hourlyRate">{{'invoice.generate' | translate}}</button>
                        <button type="button" class="btn btn-warning" ng-click="update()">{{'dialog.update' | translate}}</button>
                        <button type="button" class="btn btn-danger" ng-click="delete()">{{'dialog.delete' | translate}}</button>
                        <a href="#/" class="btn btn-link">{{'home.back' | translate}}</a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4">
            <h3>{{'school.students' | translate}}</h3>
            <table class="table table-condensed">
                <tbody>
                <tr ng-repeat="student in report.students">
                    <td>
                        <a href="#/student/{{student.id}}" ng-class="student.disabled ? 'text-muted' : ''">{{student.name}}</a>
                        <span class="label it-label-description">{{student.subject}}</span>
                    </td>
                    <td class="it-hours">
                        {{student.hours}}h
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="info">
                        {{'report.hours.total' | translate}}
                    </td>
                    <td class="it-hours info">
                        {{report.hours}}h
                    </td>
                </tr>
                <tr ng-if="report.hourlyRate">
                    <td class="info">
                        {{'report.income.total' | translate}}
                    </td>
                    <td class="it-income info">
                        {{report.income}}
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4">
            <h3>{{'comments' | translate}}</h3>
            <it-comments entity="school" entity-id="{{schoolId}}"></it-comments>
        </div>
    </div>
</div>