<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table class="it-table">
                <tbody>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <a href="#/" class="btn btn-link">{{'home.back' | translate}}</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4">
            <it-todo>School students</it-todo>
        </div>
        <div class="col-md-4">
            <it-todo>School comments</it-todo>
        </div>
    </div>
</div>