<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table class="it-form">
                <tbody>
                <tr>
                    <td colspan="2" class="it-form-title">
                        {{student.name}}
                    </td>
                </tr>
                <tr ng-if="student.subject">
                    <td class="it-form-label">
                        {{'student.subject' | translate}}
                    </td>
                    <td class="it-form-value">
                        {{student.subject}}
                    </td>
                </tr>
                <tr>
                    <td class="it-form-label">
                        {{'student.school' | translate}}
                    </td>
                    <td class="it-form-value">
                        <span style="background-color: {{student.school.colour}};" class="label label-info">&nbsp;</span>
                        <a href="#/school/{{student.school.id}}">{{student.school.name}}</a>
                    </td>
                </tr>
                <tr ng-if="student.phone">
                    <td class="it-form-label">
                        <span title="{{'student.phone' | translate}}" class="glyphicon glyphicon-earphone"></span>
                    </td>
                    <td class="it-form-value">
                        {{student.phone}}
                    </td>
                </tr>
                <tr ng-if="student.mobilePhone">
                    <td class="it-form-label">
                        <span title="{{'student.mobilePhone' | translate}}" class="glyphicon glyphicon-phone"></span>
                    </td>
                    <td class="it-form-value">
                        {{student.mobilePhone}}
                    </td>
                </tr>
                <tr ng-if="student.postalAddress">
                    <td class="it-form-label">
                        <span title="{{'student.postalAddress' | translate}}" class="glyphicon glyphicon-home"></span>
                    </td>
                    <td class="it-form-value it-form-pre">{{student.postalAddress}}</td>
                </tr>
                <tr ng-if="student.email">
                    <td class="it-form-label">
                        <span title="{{'student.email' | translate}}" class="glyphicon glyphicon-envelope"></span>
                    </td>
                    <td class="it-form-value">
                        <a href="mailto:{{student.email}}">{{student.email}}</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2">
                        <div class="alert alert-warning" ng-show="student.disabled">{{'student.disable.message' | translate}}</div>
                        <button type="button" class="btn btn-warning" ng-click="update()">{{'dialog.update' | translate}}</button>
                        <button type="button" class="btn btn-danger" ng-click="disable()" ng-show="!student.disabled">{{'student.disable' | translate}}</button>
                        <button type="button" class="btn btn-warning" ng-click="enable()" ng-show="student.disabled">{{'student.enable' | translate}}</button>
                        <button type="button" class="btn btn-danger" ng-click="delete()">{{'dialog.delete' | translate}}</button>
                        <a href="#/" class="btn btn-link">{{'home.back' | translate}}</a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4">
            <h3>{{'student.lessons' | translate}}</h3>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <td colspan="3" class="info">
                        {{'report.hours.total' | translate}}
                    </td>
                    <td class="it-hours info">
                        {{report.totalHours}}h
                    </td>
                </tr>
                <tr class="info">
                    <td style="text-align: left;"><a class="glyphicon glyphicon-arrow-left" ng-click="periodBefore()"></a></td>
                    <td style="text-align: center;" colspan="2">{{report.formattedPeriod}}</td>
                    <td style="text-align: right;"><a class="glyphicon glyphicon-arrow-right" ng-click="periodAfter()"></a></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="lesson in report.lessons">
                    <td>
                        <a href="#/lesson/{{lesson.id}}">{{lesson.formattedDate}}</a>
                    </td>
                    <td>
                        {{lesson.formattedFrom}}
                        -
                        {{lesson.formattedTo}}
                    </td>
                    <td>
                        {{lesson.location}}
                    </td>
                    <td class="it-hours">
                        {{lesson.hours}}h
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" class="info">
                        {{'report.hours.period' | translate}}
                    </td>
                    <td class="it-hours info">
                        {{report.periodHours}}h
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4">
            <it-todo>Student comments</it-todo>
        </div>
    </div>
</div>