<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>{{'teacher.planning' | translate}}</h3>
            <div ui-calendar="calendarConfig.calendar" ng-model="lessons" calendar="mainCalendar"></div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <h3>{{'teacher.students' | translate}}</h3>
                <table class="table table-hover table-condensed">
                    <tbody>
                        <tr ng-repeat="student in students.resources">
                            <td class="it-colour">
                                <div class="it-colour" style="background-color: {{student.school.colour}}">
                                    &nbsp;
                                </div>
                            </td>
                            <td>
                                <a href="#/student/{{student.id}}">{{student.name}}</a>
                                <span ng-if="student.hasComments" class="it-student-with-comments"></span>
                                <br/>
                                <span class="it-student-summary">
                                    {{student.subject}}
                                    @ {{student.school.name}}
                                    <span ng-if="student.contract">({{student.contract.name}})</span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button id="student-create" class="btn" ng-click="createStudent()">{{'teacher.newStudent' | translate}}</button>
            </div>
            <div class="row">
                <h3>{{'teacher.schools' | translate}}</h3>
                <table class="table table-hover">
                    <tbody>
                        <tr ng-repeat="school in schools.resources">
                            <td class="it-colour">
                                <div class="it-colour" style="background-color: {{school.colour}}">
                                    &nbsp;
                                </div>
                            </td>
                            <td>
                                <a href="#/school/{{school.id}}">{{school.name}}</a>
                                <span ng-if="school.hasComments" class="it-school-with-comments"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button id="school-create" class="btn" ng-click="createSchool()">{{'teacher.newSchool' | translate}}</button>
            </div>
        </div>
    </div>
</div>