<div class="container">
    <div class="row">
        <div class="col-md-8">
            <it-todo>Planning</it-todo>
        </div>
        <div class="col-md-4">
            <div class="row">
                <it-todo>Students</it-todo>
            </div>
            <div class="row">
                <h3>{{'teacher.schools' | translate}}</h3>
                <table class="table">
                    <tbody>
                        <tr ng-repeat="school in schools.resources">
                            <td class="it-colour">
                                <div class="it-colour" style="background-color: {{school.colour}}">
                                    &nbsp;
                                </div>
                            </td>
                            <td>
                                <a href="#/school/{{school.id}}">{{school.name}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button id="school-create" class="btn" ng-click="createSchool()">{{'teacher.newSchool' | translate}}</button>
            </div>
        </div>
    </div>
</div>